<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CurrencyExchange</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/inline.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @using Microsoft.AspNetCore.Http;
    @model CurrencyExchange.Models.Conversion

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Currency Exchange</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ExchangeRate">Exchange Rate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ConvertMoney">Convert Money</a>
                        </li>
                        @if (Context.Session.GetString("sessionUser") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Notifications" asp-action="Index" asp-route-id="@Context.Session.GetString("sessionUser")">My Notifications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@Context.Session.GetString("sessionUser")">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                            </li>
                        }
                        @if (Context.Session.GetString("sessionUserRole") == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*sidenav*@
    <div id="mySidenav" class="sidenav">

        @*exchangerate*@
        <div class="text-center">


            @if (ViewData["Response"] != null)
            {
                <p>
                    @ViewData["Response"]
                </p>

            }
            <div id="card">
                <h4>Exchange rate</h4>
                <p>
                    <label>Base Currency</label>
                    <select id="baseC">
                        @foreach (var value in ViewBag.Currencies)
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </p>
                <p>
                    <label>End Currency</label>
                    <select id="endC">
                        @foreach (var value in ViewBag.Currencies)
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </p>
                <input type="button" id="exchangeButton" onclick="getExchangeRate()" value=" GO JAVASCRIPT GO!" />
                <h5 id="exchange-box">Value:</h5>
            </div>
        </div>



        @*jqueryyyyyyy*@

        <script type="text/javascript">
            function getExchangeRate() {

            //alert("");
            var conv = new Object();
            conv.BaseCurrency = $("#baseC").val();
            conv.EndCurrency = $("#endC").val();

            if (conv != null) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ExchangeRate")',
                    data: JSON.stringify(conv),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            console.log(response.result);
                            $('#exchange-box').text("Value: " + response.result);

                        }
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                })
            }
        }
        </script>

        @*convert money*@

        <div class="text-center">
            <div id="card">
                <h4>Convert Money</h4>
                <p>
                    <input id="Amount" type="number" placeholder="Amount" required />
                </p>
                <p>
                    <label>Base Currency</label>
                    <select id="CbaseC">
                        @foreach (var value in ViewBag.Currencies)
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </p>
                <p>
                    <label>End Currency</label>
                    <select id="CendC">
                        @foreach (var value in ViewBag.Currencies)
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </p>
                <input type="button" id="convertButton" onclick="convertMoney()" value=" GO JAVASCRIPT GO!" />
                <h5 id="convert-box">Value:</h5>
            </div>

            @if (ViewData["ConvertResponse"] != null)
            {
                <h3>
                    @ViewData["Amount"] @ViewData["BaseCurrency"] = @ViewData["ConvertResponse"] @ViewData["EndCurrency"]
                </h3>
            }
        </div>
    </div>

    @*jqueryyyyyyy*@

    <script type="text/javascript">
        function convertMoney() {

        //alert("");
        var conv = new Object();
        conv.BaseCurrency = $('#CbaseC').val();
        conv.EndCurrency = $('#CendC').val();
        conv.Amount = $('#Amount').val();

        if (conv != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ConvertMoney")',
                data: JSON.stringify(conv),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        //console.log(response.result);
                        //var row =  "<h3 class='prtoducttd'>" + response.result + "</h3>";
                        $('#convert-box').text("Value: " + response.result);


                    }
                },
                error: function () {
                    alert("input your Ammount");
                }
            })
        }
    };
    </script>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CurrencyExchange - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
