@{
    ViewData["Title"] = "Exchange Rate";
}


@model CurrencyExchange.Models.Conversion

<div class="text-center">
    @if (ViewBag.Response != null)
    {
        <p>
            @ViewBag.Response
        </p>
    }
    <form asp-action="ExchangeRate" method="post">
        @*<p>
                <label>Start Date</label>
                <input asp-for="StartDate" value="2020.06.01"/>
            </p>
            <p>
                <label>End Date</label>
                <input asp-for="EndDate" value="2020.07.01"/>
            </p>*@
        <p>
            <label>Base Currency</label>
            <select asp-for="BaseCurrency">
                @foreach (var value in @ViewBag.Currencies)
                {
                    <option value="@value">@value</option>
                }
            </select>
        </p>
        <p>
            <label>End Currency</label>
            <select asp-for="EndCurrency">
                @foreach (var value in @ViewBag.Currencies)
                {
                    <option value="@value">@value</option>
                }
            </select>
        </p>
        <input type="submit" value="send" />
    </form>
</div>
