@{
    ViewData["Title"] = "Home Page";
    var diagramPoints = ViewBag.Data;
    var years = ViewBag.Years;
}
<input type="hidden" id="DiagramPoints" value=@diagramPoints>
<input type="hidden" id="Years" value=@years>


<div class="text-center">
    <h2>
        Welcome to Currency Exchange!
    </h2>

    <p>
        On this site you can view exchange rates, convert money, follow different currencies and get notified if the rate is below/above desired value.
    </p>

    @*grafikon*@
    <canvas id="lineChart" width="400" height="100"></canvas>

    @*@foreach (var item in ViewBag.Rates)
        {
            <p>
                @String.Format("{0:0.##}", item.Value[ViewBag.EndCurrency])
            </p>
        }*@
    <p>
        The fluctuation of @ViewBag.BaseCurrency compared to @ViewBag.EndCurrency between @ViewBag.StartDate and @ViewBag.EndDate
    </p>
    <form>
        <button asp-controller="Home" asp-action="SendMail">Send Mail</button>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/js/Diagram.js" asp-append-version="true"></script>
