@model CurrencyExchange.Models.User

@{
    ViewData["Title"] = "My Profile";
}

<h1>My Profile</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    <hr />
</div>
<div>
    <input type="button" onclick="location.href='@Url.Action("Edit", "Users", new { id=Model.ID})'" value="Edit" class="btn btn-primary" />
</div>
