@model CurrencyExchange.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Recipient Email Address</label>
                <input type="email" name="RecipientEmail" class="form-control" />
                <span asp-validation-for="Recipient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency">
                    @foreach (var value in @ViewBag.Currencies)
                    {
                        @if (ViewBag.PreSelect == value)
                        {
                            <option selected="selected" value="@value">@value</option>
                        }
                        else
                        {
                            <option value="@value">@value</option>
                        }
                    }
                </select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
                <input type="radio" id="nowCheck" name="NowOrLater" value="now" onclick="javascript:yesnoCheck();" />
                <label for="now">Now</label><br>
                <input type="radio" id="laterCheck" name="NowOrLater" value="later" onclick="javascript:yesnoCheck();" />
                <label for="later">Later</label>
                <div id="ifLater" style="display:none">
                    <input type="datetime-local" name="date" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <script type="text/javascript">
            function yesnoCheck() {
                if (document.getElementById("laterCheck").checked) {
                    document.getElementById("ifLater").style.display = "block";
                }
                else document.getElementById("ifLater").style.display = "none";

            }
        </script>

        @if (ViewBag.Alert != null)
        {
            <script>alert("@ViewBag.Alert");</script>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
