@model CurrencyExchange.Models.Notification

@{
    ViewData["Title"] = "Create";
}
@using Microsoft.AspNetCore.Http;
<h1>Create</h1>

<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Base Currency</label>
                <select asp-for="BaseCurrency">
                    @foreach (var value in @ViewBag.Currencies)
                    {
                        <option value="@value">@value</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>End Currency</label>
                <select asp-for="EndCurrency">
                    @foreach (var value in @ViewBag.Currencies)
                    {
                        <option value="@value">@value</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="AboveOrUnder" type="radio" id="above" value="above">
                <label for="above">Above</label><br>
                <input asp-for="AboveOrUnder" type="radio" id="under" value="under">
                <label for="under">Under</label><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*asp-route-id="@Convert.ToInt32(Context.Session.GetString("sessionUser"))"*@
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}