@model IEnumerable<CurrencyExchange.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaseCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboveOrUnder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseCurrency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndCurrency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AboveOrUnder)
                </td>
                @*display actual currency value*@
                <td>
                    @Html.DisplayFor(modelItem => item.ActualValue)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.ID">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
